@model Hospital

<div class="container">
	<h1>Update Hospital</h1>
</div>
<form method="post">
	<label>Id Hospital</label>
	<input type="text" name="idhospital" value="@Model.IdHospital"
		   class="form-control" readonly />
	<label>Nombre:</label>
	<input type="text" name="nombre" value="@Model.Nombre"
		   class="form-control" />
	<label>Direccion:</label>
	<input type="text" name="direccion" value="@Model.Direccion"
		   class="form-control" />
	<label>Telefono</label>
	<input type="text" name="telefono" value="@Model.Telefono"
		   class="form-control" />
	<label>Camas:</label>
	<input type="text" name="camas" value="@Model.Camas"
		   class="form-control" />
	<br />
	<button class="btn btn-outline-warning">Modificar</button>
</form>
<h2>@ViewData["mensaje"]</h2>